@import "../App.scss";

.about {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
  background-color: $sec-color;

  .slider {
    @include flex($justify: center);
    flex-direction: column;
    padding: 0 $side-padding;
    gap: 20px;

    .container {
      width: 500px;
      height: 500px;
      background-color: $ter-color;

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .text {
    width: 350px;
    height: max-content;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30%;
    margin-left: 10%;

    .header {
      font-weight: bold;
      font-size: $xl;
    }

    .explain {
    }
  }
}
