@import "../App.scss";

.team {
  width: 100%;
  background-color: $base-color;
  padding: 48px 0;

  .text {
    @include flex($dir: column);
    margin: 0 64px;
    gap: 14px;
    color: white;

    .sub-header {
      font-size: 24px;
    }

    .header {
      font-size: 40px;
      font-weight: bold;
    }
  }

  .inti {
    @include flex($dir: column);
    gap: 54px;
    padding-top: 72px;

    .header-inti {
      font-size: 28px;
      color: white;
      text-align: center;
    }
    .kahim {
      @include flex(center, center);
    }
    .pi {
      @include flex(space-evenly);
    }
  }

  .birdep {
    .header-birdep {
      padding: 54px 0;
      text-align: center;
      font-size: 28px;
      color: white;
      text-align: center;
    }

    .cards-birdep {
      padding-top: 54px;
      @include flex(space-evenly);

      .card {
        &:nth-child(2) {
          margin-top: -54px;
        }
      }
    }
  }
}
