// Color
$base-color: #3c0753;
$dark-base-color: #030637;
$sec-color: #910a67;
$dark-sec-color: #720455;
$ter-color: #ef4040;
$quar-color: #ffa732;
$grey-color: #d4d4d4;

// Layouting
$side-padding: 200px;
$top-padding: 44px;

// Sizing
$xl: 40px;
$l: 32px;
$m: 24px;
$bs: 16px;
$sm: 14px;
$xs: 12px;
$xxs: 10px;

// Filter
@mixin base-color-filter {
  filter: brightness(0) saturate(100%) invert(13%) sepia(80%) saturate(6298%)
    hue-rotate(282deg) brightness(35%) contrast(100%);
}
@mixin sec-color-filter {
  filter: brightness(0) saturate(100%) invert(12%) sepia(43%) saturate(7300%)
    hue-rotate(306deg) brightness(89%) contrast(101%);
}
@mixin dark-sec-color-filter {
  filter: brightness(0) saturate(100%) invert(15%) sepia(33%) saturate(5043%)
    hue-rotate(294deg) brightness(90%) contrast(115%);
}
@mixin grey-color-filter {
  filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(1588%)
    hue-rotate(142deg) brightness(92%) contrast(88%);
}

// Utility
@mixin flex($justify: default, $align: default, $dir: default) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}

@mixin absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  font-family: "Poppins", sans-serif;
}

// Component
@mixin first-button {
  width: 140px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid $sec-color;
  gap: 12px;
  background-color: $sec-color;
  color: white;

  .container {
    @include flex($align: center);
    width: 24px;

    .arrow {
      width: 18px;
      transition: transform 200ms;
      filter: invert(100%);
    }
  }

  &:hover {
    border-color: $dark-sec-color;
    background-color: $dark-sec-color;
    color: $grey-color;
  }

  &:hover .arrow {
    transform: translateX(4px);
  }
}
