// Color
$base-color: #711db0;
$sec-color: #c21292;
$dark-sec-color: #8d126c;
$ter-color: #ef4040;
$quar-color: #ffa732;
$grey-color: #d4d4d4;

// Layouting
$side-padding: 172px;

// Sizing
$xl: 40px;

// Utility
@mixin flex($justify: default, $align: default, $dir: default) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}

@mixin absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  font-family: "Poppins", sans-serif;
}
